html {
    background-color: blanchedalmond;
    font-size: 10px;
}

body {
    background-color: cornsilk;
    border: 5px solid rgb(255, 217,217);
    width: 600px;
    padding: 10px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 30px;

    margin: 0;
    padding: 20px 0;
    color: rgb(255, 217,217);
    text-shadow: 2px 2px 2px black;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    font-size: 15px;
    text-shadow: 1px 1px 2px gray;
}

li {
    line-height: 2;
}

ul {
    list-style: circle;
}

table {
    margin: 0 auto;
    width: 95%;
    border-collapse: collapse;
    border: 1px solid rgb(255, 217,217);
}

td, th {
    border: 1px solid rgb(255, 217,217);
    text-align: center;
    padding: 10px 20px;
}

th {
    background-color: coral;
    font-size: 12px;
}

iframe {
    display: block;
    margin: 0 auto;
}

.big {
    font-size: 25px;
}

article {
    margin: 30px 5px;
}